PL.json
{
  "name": "PL",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -128,
        -128
      ],
      "id": "24ac8847-366a-444c-94d7-6f69bb687926",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.football-data.org/v4/competitions/PL/standings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Auth-Token",
              "value": "fb606564a15e4094baaf2f3a63b19d9f"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        176,
        -288
      ],
      "id": "818d505a-0fe5-4d0b-a3b7-101132d9451c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fieldToSplitOut": "standings[0].table",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        528,
        -288
      ],
      "id": "a3ac5dbb-6dec-4f3e-a4cd-b908ac89722d",
      "name": "Split Out"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"Position\": {{ $json.position }},\n  \"team_id\": {{ $json.team.id }},\n  \"team_name\":\t{{ $json.team.name }},\n  \"played\": {{ $json.playedGames }},\n  \"won\": {{ $json.won }},\n  \"draw\": {{ $json.draw }},\n  \"lost\": {{ $json.lost }},\n  \"points\":{{ $json.points }},\n  \"goals_for\":{{ $json.goalsFor }},\n  \"goals_against\":{{ $json.goalsAgainst }},\n  \"goal_diff\":\t{{ $json.goalDifference }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        -288
      ],
      "id": "fcfd2f28-22f9-4832-b7e0-643abcee906c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer JWtagNmYQUhNLWn88Z5QOQ6XOh1a0MtG"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral-small-latest\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Tu es un expert en analyse football. Analyse la performance de l'équipe {{ $json.team_name }} en Premier League avec ces statistiques :\\n- Position : {{ $json.Position }}/20\\n- Matchs joués : {{ $json.played }}\\n- Victoires : {{ $json.won }}\\n- Nuls : {{ $json.draw }}\\n- Défaites : {{ $json.lost }}\\n- Points : {{ $json.points }}\\n- Buts marqués : {{ $json.goals_for }}\\n- Buts encaissés : {{ $json.goals_against }}\\n- Différence de buts : {{ $json.goal_diff }}\\n\\nDonne une analyse courte de 3 lignes maximum sur leur performance cette saison.\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1376,
        -304
      ],
      "id": "a778b2b6-ce5d-44f3-84fe-4d586f1fc09d",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e4337233-b034-41b5-903c-0d3da5a50d58",
              "name": "team_id",
              "value": "={{ $('Edit Fields').item.json.team_id }}",
              "type": "string"
            },
            {
              "id": "321d45fa-f5f6-415f-bb85-6ec044827a44",
              "name": "team_name",
              "value": "={{ $('Edit Fields').item.json.team_name }}",
              "type": "string"
            },
            {
              "id": "a5b1d909-b146-4651-b2ab-a187ac34d9ec",
              "name": "analysis",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1632,
        -304
      ],
      "id": "9122bb5e-3d5d-4609-958b-a95d1f35c706",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "ai_analysis",
          "mode": "list",
          "cachedResultName": "ai_analysis"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "team_id": "={{ $('Edit Fields1').item.json.team_id }}",
            "team_name": "={{ $('Edit Fields1').item.json.team_name }}",
            "analysis": "={{ $('Edit Fields1').item.json.analysis }}",
            "snapshot_date": "={{ $now.setZone('Africa/Tunis').toISODate() }}"
          },
          "matchingColumns": [
            "team_id"
          ],
          "schema": [
            {
              "id": "team_id",
              "displayName": "team_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "team_name",
              "displayName": "team_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "analysis",
              "displayName": "analysis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "snapshot_date",
              "displayName": "snapshot_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1888,
        -288
      ],
      "id": "4e23f095-848a-460e-a763-2c36083552ed",
      "name": "Insert or update rows in a table",
      "credentials": {
        "postgres": {
          "id": "zPjXTEt5dnhjwuT4",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "premier_league_standings",
          "mode": "list",
          "cachedResultName": "premier_league_standings"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "team_id": "={{ $json.team_id }}",
            "Position": "={{ $json.Position }}",
            "played": "={{ $json.played }}",
            "won": "={{ $json.won }}",
            "draw": "={{ $json.draw }}",
            "lost": "={{ $json.lost }}",
            "goals_for": "={{ $json.goals_for }}",
            "goals_against": "={{ $json.goals_against }}",
            "goal_diff": "={{ $json.goal_diff }}",
            "snapshot_date": "={{ $now.setZone('Africa/Tunis').toISODate() }}",
            "team_name": "={{ $json.team_name }}",
            "points": "={{ $json.points }}"
          },
          "matchingColumns": [
            "team_id"
          ],
          "schema": [
            {
              "id": "team_id",
              "displayName": "team_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Position",
              "displayName": "Position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "team_name",
              "displayName": "team_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "played",
              "displayName": "played",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "won",
              "displayName": "won",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "draw",
              "displayName": "draw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "lost",
              "displayName": "lost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "points",
              "displayName": "points",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "goals_for",
              "displayName": "goals_for",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "goals_against",
              "displayName": "goals_against",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "goal_diff",
              "displayName": "goal_diff",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "snapshot_date",
              "displayName": "snapshot_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1088,
        -336
      ],
      "id": "dc59f86f-c52f-4643-8a51-060835c9127f",
      "name": "Insert or update rows in a table1",
      "credentials": {
        "postgres": {
          "id": "zPjXTEt5dnhjwuT4",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO dim_date (date, day, month, year, month_name)\nVALUES (\n  CURRENT_DATE,\n  EXTRACT(DAY FROM CURRENT_DATE),\n  EXTRACT(MONTH FROM CURRENT_DATE),\n  EXTRACT(YEAR FROM CURRENT_DATE),\n  TO_CHAR(CURRENT_DATE, 'Month')\n)\nON CONFLICT (date) DO NOTHING;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        112,
        144
      ],
      "id": "43ce14d3-2dda-41fd-9465-aa3cfd9b82b9",
      "name": "dim_date",
      "credentials": {
        "postgres": {
          "id": "zPjXTEt5dnhjwuT4",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO fact_standings \n(team_id, date, position, played, won, draw, lost, points, goals_for, goals_against, goal_diff)\nSELECT team_id, snapshot_date, \"Position\", played, won, draw, lost, points, goals_for, goals_against, goal_diff\nFROM premier_league_standings\nWHERE snapshot_date = (CURRENT_TIMESTAMP AT TIME ZONE 'Africa/Tunis')::date\nON CONFLICT (team_id, date) DO UPDATE SET\nposition = EXCLUDED.position,\nplayed = EXCLUDED.played,\nwon = EXCLUDED.won,\ndraw = EXCLUDED.draw,\nlost = EXCLUDED.lost,\npoints = EXCLUDED.points,\ngoals_for = EXCLUDED.goals_for,\ngoals_against = EXCLUDED.goals_against,\ngoal_diff = EXCLUDED.goal_diff;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1344,
        48
      ],
      "id": "d03e63ab-0708-4b41-8345-e402c97d1971",
      "name": "fact_standings",
      "credentials": {
        "postgres": {
          "id": "zPjXTEt5dnhjwuT4",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "dim_date",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert or update rows in a table1": {
      "main": [
        [
          {
            "node": "fact_standings",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dim_date": {
      "main": [
        []
      ]
    },
    "fact_standings": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "7836f5e9-2913-428f-af44-3c2aaedbeabb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2a7ea3b101ab855999800691a1c16f39a7fee9d20cf6d594e0ec215b4e05a631"
  },
  "id": "nYFSMW0FaFRfRKsA",
  "tags": []
}